table {
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
}

tr {
  border-bottom: 1px;
}

tr:nth-child(odd) {
  background-color: #F8F9FA;
}

tr:hover {
  background-color: #eeeff1;
  cursor: pointer;
}

td, th {
  padding: 15px 40px;
  text-align: center;
}

td > img {
  height: 150px;
  width: 120px;
}

thead > td {
  cursor: default;
}
