<div class="container" style="height: 100%;">
  <div class="row align-items-center" style="height: 100%;">
      <div class="col-md-10 offset-md-1">
          <table>
            <thead>
              <tr style="background-color: #FFF;">
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Vote Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let movie of movies;let i = index"  [routerLink]="['/movies', movie.id]">
                <td>{{ movie.original_title }}</td>
                <td><img src="{{'https://image.tmdb.org/t/p/original'+ movie.poster_path }}"></td>
                <td>{{ movie.vote_average }}</td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div>
