<div class="container" style="height: 100%;">
  <div class="row align-items-center" style="height: 100%;">
      <form
        class="col-lg-4 col-md-6 col-8 offset-lg-4 offset-md-3 offset-2 login-form"
        #loginForm="ngForm"
        (ngSubmit)="onLogin(loginForm)"
      >
          <h1>Login</h1>
          <div class="invalid-feedback" *ngIf="isIncorrectCredentials">{{ incorrectCredentialsMessage }}</div>
          <div class="form-group">
            <input
              type="text"
              placeholder="Email"
              ngModel
              name="email"
              required
              email
              (blur)="onBlur(loginForm)"
            >
            <div class="invalid-feedback" *ngIf="isInvalidEmail">{{ invalidEmailMessage }}</div>
          </div>
          <div class="form-group">
            <input
              type="password"
              placeholder="Password"
              ngModel
              name="password"
              required
            >
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
      </form>
  </div>
</div>
