.login-form {
  min-height: 300px;
  border-radius: 5px;
  background-color: white;
  padding: 40px;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.login-form > h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 500;
}

.form-group > input {
  border-width: 0 0 1px 0;
  padding: 5px;
  width: 100%;
}

.form-group > input:focus {
  outline: 0

}
.form-group {
  margin-bottom: 30px;
}

.invalid-feedback {
  display: block;
}

/* .login-form > button {
  width: 100%;
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 8px 0;
  text-align: center;
  border-radius: 5px;
  border: 0;
}

 */
