.my-card {
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  border-radius: 5px;
  overflow: hidden;
}

.movie-details {
  padding: 30px 40px;
}

h4 {
  margin-bottom: 20px;
}

p {
  color: rgba(0,0,0,.55);
  font-size: 12px;
  margin: 0;
}

.badge {
  font-weight: unset;
  font-size: 12px;
  margin-right: 10px;
}

.rounded-pill {
  padding: 7px 12px;
}

svg {
  height: 12px;
  width: 12px;
  fill: white
}

ul {
  font-size: 12px;
}

li > div{
  color: rgba(0,0,0,.55);
}

hr {
  margin: 20px 0px;
}
