<div class="container-xxl" style="height: 90vh;">
  <div class="row align-items-center" style="height: 100%;">
    <div class="col-xl-8 offset-xl-2 col-sm-10 offset-sm-1 aling=center">
      <div class="row my-card">
        <div class="col-lg-4" style="padding: 0;">
          <img [src]="'https://image.tmdb.org/t/p/original/' + movieDetails.poster_path" class="img-fluid">
        </div>
        <div class="col-lg-8 movie-details">
          <h4>{{ movieDetails.original_title }}</h4>
          <div class="tags">
            <span class="badge rounded-pill bg-primary" *ngFor="let genre of movieDetails.genres">{{ genre.name }}</span>
            <span class="badge rounded-pill bg-success">{{ movieDuration }}</span>
            <span class="badge rounded-pill bg-warning">{{ movieDetails.vote_average }}
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 543 516.4" style="enable-background:new 0 0 543 516.4;" xml:space="preserve">
                <g>
                  <g>
                    <polygon class="st0" points="271.5,0 355.4,170 543,197.3 407.2,329.6 439.3,516.4 271.5,428.2 103.7,516.4 135.8,329.6 0,197.3
                      187.6,170 		"/>
                  </g>
                </g>
              </svg>
            </span>
          </div>
          <hr>
          <p>{{ movieDetails.overview }}</p>
          <hr>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Release Date
              <div>
                <span>{{ movieDetails.release_date }}</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Production Companies
              <div *ngFor="let company of movieDetails.production_companies; let last = last">
                <span *ngIf="!last"> {{ company.name + ' - ' }}</span>
                <span *ngIf="last">{{ company.name }}</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Production Countries
              <div *ngFor="let country of movieDetails.production_countries; let last = last">
                <span *ngIf="!last"> {{ country.name + ' - ' }}</span>
                <span *ngIf="last">{{ country.name }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


